$brand-color: #3369f3;
$bg-color: #fff;
$input-color: #efefef;
$overlay-color: #00000040;
$text-primary: #1e1e1e;
$text-secondary: #999;
$text-highlight: #ff2f2f;
$text-button: #fff;
$my-message: #e4edfd;
$interlocutor-message: #f8f8f8;
$current-conversation: #e4edfd;

// eins-modal
$eins_color: #fff;
$eins_border_color: #000;
$eins_background: #262626;
$eins_color_close: #b5b5b5;
$eins_border_color_close: #333;
$eins_color_hover: #f27474;
$eins_border_color_hover: #404040;
