@import '../../../../static/styles/base/colors';

.current-chat-area {
  &__empty {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  &__title {
    color: $text-secondary;
    text-align: center;
  }
}
