@import '../../static/styles/base/colors';

.action-button {
  background-color: $brand-color;
  border: 0;
  border-radius: 0.312rem;
  color: $text-button;
  cursor: pointer;
  font-size: 1rem;
  height: 2.4rem;
  padding: 0.625rem;
  width: 17.5rem;
}

.button-link {
  background: none;
  border: 0;
  font-size: 1rem;
  height: 100%;
  position: relative;
  width: 100%;

  &::after {
    content: '';
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}

.user-button {
  min-width: 16rem;
  padding: 0;
}

.button {
  &__content {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row;
    gap: 1rem;
    height: 1rem;
    margin: 0.75rem;
    width: 100%;
  }

  &__paragraph {
    font-size: 1rem;
    margin: 0;
  }
}
