@import '../../../static/styles/base/colors';

.input-profile {
  &__container {
    align-items: center;
    border: 0.063rem solid transparent;
    border-bottom-color: $input-color;
    display: flex;
    justify-content: space-around;
    min-width: 26rem;
    padding: 0;
    padding: 0.625rem 0;
    position: relative;
  }

  &__label {
    color: $text-primary;
    min-width: 10.3rem;
  }

  &__input {
    background: transparent;
    border: 0;
    color: $text-secondary;
    font-size: 1rem;
    outline: transparent;
    text-align: right;
    width: 100%;
  }

  &__error-message {
    color: $text-highlight;
    font-size: 0.6rem;
    left: 26rem;
    line-height: 0.6rem;
    margin-top: 0.5rem;
    position: absolute;
    width: 10rem;
  }
}
