@import '../../static/styles/base/colors';

.message-cloud {
  background-color: $interlocutor-message;
  border-radius: 0.75rem 0.75rem 0.75rem 0;
  margin: 0.625rem auto 0.625rem 0.625rem;
  max-width: 40%;
  padding: 0.625rem;

  &__photo {
    object-fit: cover;
    width: 100%;
  }

  &__time {
    color: $text-secondary;
    display: block;
    font-size: 0.875rem;
    text-align: end;
  }
}

.myMessage {
  background-color: $my-message;
  border-radius: 0.75rem 0.75rem 0;
  margin: 0.625rem 0.625rem 0.625rem auto;
}

.messages__date {
  color: $text-secondary;
  display: block;
  margin: 0.625rem;
  text-align: center;
}
